<mat-grid-list cols="2">
    <mat-grid-tile >
        <img class="pattern-circle" src="../../../assets/img/PatternCircle.png" alt="">
        <div class="person-picture">
            <img src="../../../assets/img/edit2 1.png" alt="">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div fxLayout="row" fxLayoutAlign="center" class="right-container">
            <div fxLayout="row">
                <h1 class="about-right-title">About the apprenticeship</h1>
            </div>
            <div  fxLayout="row" class="about-right-paragraph">
                <p>{{ (about$ | async)?.data}}</p>
            </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>


  <mat-grid-list cols="3" gutterSize="0" rowHeight="300px" class="about-cards-section">

    <mat-grid-tile [colspan]="1" [rowspan]="2">
        <div class="scholarship">
            <div fxLayout="row" fxLayoutAlign="center" class="scholarship-value">
                <div class="scholarship-value-title">
                    <p>Scholarship value</p>
                </div>
                <div fxLayout="row" class="scholarship-value-price">
                    <h1 class="">€ {{ (scholarship$ | async )?.total_value}}</h1>
                </div>
            </div>

            <hr>

            <div fxLayout="row" class="scholarship-value-bottom">
                <mat-grid-list cols="2" fxLayoutAlign="start" rowHeight="90px">
                    <mat-grid-tile>
                        <p><span>Tuition covered</span><br>€ {{ (scholarship$ | async )?.tuition}}</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p><span>Remaining</span><br>€ {{ (scholarship$ | async )?.remaining}}</p>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="2" [rowspan]="1">
                        <p><span>Living stipend</span><br>€ {{ (scholarship$ | async )?.stipend_per_year}} (€{{ (scholarship$ | async )?.stipend_per_month}}/month)</p>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div fxLayout="row" fxLayoutAlign="center" class="study-commitment-section">
            <div class="study-commitment-title">
                <p>Study commitment</p>
            </div>
            <div fxLayout="row">
                <h1 class="study-commitment-time">{{ (scholarship$ | async )?.study_commitment}} hours / day</h1>
            </div>
            <div  fxLayout="row" class="study-commitment-paragraph">
                <p>{{ (scholarship$ | async )?.study_commitment_text}}
                </p>
            </div>
        </div>
    </mat-grid-tile>
    
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <div fxLayout="row" fxLayoutAlign="center" class="work-commitment-section">
            <div class="work-commitment-title">
                <p>Work commitment</p>
            </div>
            <div fxLayout="row">
                <h1 class="work-commitment-time">{{ (scholarship$ | async )?.internship_commitment}} hours / day</h1>
            </div>
            <div  fxLayout="row" class="work-commitment-paragraph">
                <p>{{ (scholarship$ | async )?.internship_commitment_text}}
                </p>
            </div>
        </div>
    </mat-grid-tile>


    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <div fxLayout="row" fxLayoutAlign="center" class="after-graduation-section">
            <div class="after-graduation-title">
                <p>A full-time contract</p>
            </div>
            <div fxLayout="row">
                <h1 class="after-graduation-time">1 Year / Full-Time</h1>
            </div>
            <div  fxLayout="row" class="after-graduation-paragraph">
                <p>You’ll be guaranteed a 1 year contract with SCG upon graduation.
                </p>
            </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>