
.pattern-circle {
    position: absolute;
    left: 200px;
    z-index: 0;
}

.person-picture {
    position: absolute;
    left: 233px;
    width:380px;
    height:380px;
    border-radius:50%;
    overflow: hidden;
    object-fit:cover;
    z-index: 100;
}

.right-container {
    .about-right-title {
        width: 450px;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 56px;


        color: #685DC5;
    }

    .about-right-paragraph {
        width: 450px;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 32px;

        letter-spacing: -0.33px;

        color: #535353;
    }
}

.about-cards-section {
    margin: 0 200px 200px 200px;

    .study-commitment-section {
        height: 274px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 40px;
        margin-right: 10px;

        .study-commitment-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            letter-spacing: -0.145455px;

            color: #685DC5;
        }

        .study-commitment-time {
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
            line-height: 35px;

            display: flex;
            align-items: center;
            letter-spacing: -0.185714px;

            color: #6A6A6A;
        }

        .study-commitment-paragraph {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;

            letter-spacing: -0.16px;

            color: #535353;
        }
    }

    .work-commitment-section {
        height: 274px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 40px;
        margin-left: 10px;

        .work-commitment-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            letter-spacing: -0.145455px;

            color: #685DC5;
        }

        .work-commitment-time {
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
            line-height: 35px;

            display: flex;
            align-items: center;
            letter-spacing: -0.185714px;

            color: #6A6A6A;
        }

        .work-commitment-paragraph {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;

            letter-spacing: -0.16px;

            color: #535353;
        }
    }

    .after-graduation-section {
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 40px;
        height: 178px;
        width: 750px;
        .after-graduation-title {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;

            letter-spacing: -0.145455px;

            color: #685DC5;
        }

        .after-graduation-time {
            font-style: normal;
            font-weight: 300;
            font-size: 26px;
            line-height: 35px;

            display: flex;
            align-items: center;
            letter-spacing: -0.185714px;

            color: #6A6A6A;
        }

        .after-graduation-paragraph {
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;

            letter-spacing: -0.16px;

            color: #535353;
        }
    }


    .scholarship {
        width: 320px;
        height: 524px;
        border: 1px solid #DADADA;
        box-sizing: border-box;
        border-radius: 4px;
        padding: 40px;

        hr {
           color: #DADADA
        }

        .scholarship-value {
            padding-bottom: 188px;
            .scholarship-value-title {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;

                letter-spacing: -0.145455px;

                color: #685DC5;
            }

            .scholarship-value-price {
                font-style: normal;
                font-weight: 300;
                font-size: 48px;
                line-height: 24px;

                display: flex;
                align-items: center;
                letter-spacing: -0.436364px;

                color: #535353;
            }
        }

        .scholarship-value-bottom {
            p {
                height: 70px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;

                letter-spacing: -0.16px;

                span {
                    font-weight: 500;
                    font-size: 16px;

                    color: #685DC5;
                }
            }
        }
    }
}