<mat-grid-list cols="2">
    <mat-grid-tile >
        <div fxLayout="row" fxLayoutAlign="center" class="left-container">
            <img src="../../../assets/img/Icon.png" class="left-icon" alt="Apprenticeship logo">
            <div fxLayout="row">
                <h1 class="intro-left-title">{{ (scholarship$ | async)?.name}}</h1>
            </div>
            <div  fxLayout="row" class="intro-left-sub-title">
                <p>A fully funded work-study program to launch your tech career</p>
            </div>
            <div fxLayout="row" class="intro-left-p-div">
                <p class="intro-left-paragraph">{{ description }}</p>
            </div>
            
            <div fxLayout="row" class="intro-left-p-div">
                <p class="intro-left-paragraph"><span>Position:</span> {{ (scholarship$ | async)?.position }}</p>
            </div>

            <div fxLayout="row">
                <button mat-raised-button class="btn">Apply Now</button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div fxLayout="row" class="right-container">
            <div fxLayout="row" class="first-section">
                <div>
                <img [src]="logoSrc" alt="">
                </div>
                <div class="first-section-paragraphs">
                    <p class="opac-paragraph">Powered by:</p>
                    <p class="paragraph">Zeptolab</p>
                </div>
            </div>
            <div fxLayout="row" class="count-down">
                <p class="count-down-title">Application closes in</p>
                <div class="count-down-time">
                    <div id="countdown">
                        <ul>
                          <li><span id="days"></span>Days</li>
                          <li><span id="hours"></span>Hrs</li>
                          <li><span id="minutes"></span>Min</li>
                          <li><span id="seconds"></span>Sec</li>
                        </ul>
                      </div>
                </div>
            </div>

            <div fxLayout="row" class="info-section">
                <img src="../../../assets/img/Pattern.png" alt="pattern">
                <mat-grid-list cols="2" rowHeight="2:1">
                    <mat-grid-tile>
                        <p><span>Location</span><br> {{ (scholarship$ | async)?.location?.name }}</p>
                    </mat-grid-tile>
                    <mat-grid-tile> 
                        <p><span>Duration</span><br> {{ (scholarship$ | async)?.duration }} Year <br> Full-Time</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p><span>Start date</span><br> 30 June 2020</p>
                    </mat-grid-tile>
                    <mat-grid-tile>
                        <p><span>End date </span><br> 3 Aug 2020</p>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>


