
mat-grid-tile {
    overflow: visible;
}

.left-container {
    margin-left: 20%;
    
    .left-icon {
        position: absolute;
        height: 206px;
        left: 70%;
        right: 51.5%;
        top: 10%;

        mix-blend-mode: normal;
        transform: rotate(20deg);
    }

    .intro-left-title {
        color: #685DC5;
        font-size: 48px;
        font-weight: 500, Medium;
        line-height: 56px;
        letter-spacing: -0.6 px;
        margin-bottom: 48px;
    }

    .intro-left-sub-title {
        p {
            font-size: 22px;
            line-height: 32px;
            font-weight: 500;
        }
    }
    
    .intro-left-p-div {
        margin-top: 40px;
        .intro-left-paragraph {
            font-size: 22px;
            line-height: 32px;
            font-weight: 300;

            span {
                font-weight: 500;
            }
        }

    }

    .btn {
        background: #685DC5;
        color: white;
        border-radius: 29px;
        width: 166px;
        height: 58px;
    }
}

.right-container{
    padding: 0;

    .first-section {
        padding: 5px;
        
        div{
            display: inline-block;
        }

        .first-section-paragraphs {
            margin-left: 10px;
           
            .opac-paragraph {
                font-style: normal;
                font-weight: 300;
                font-size: 18px;
                line-height: 24px;
        
                letter-spacing: -0.18px;
        
                color: #000000;
        
                mix-blend-mode: normal;
                opacity: 0.5;
            }
    
            .paragraph {
                font-style: normal;
                font-weight: 300;
                font-size: 27px;
                line-height: 24px;
    
                letter-spacing: -0.27px;
    
                color: #535353;
            }
        }       
    }
        .count-down {
            border: 2px solid #DADADA;
            box-sizing: border-box;
            border-radius: 4px;
            margin-top: 27px;
            height: 116px;
            width: 480px;
            
            .count-down-title {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                padding: 1em 0 1em 1em;

                letter-spacing: -0.145455px;
                
                color: #685DC5;
            }

            .count-down-time {
                ul {
                    padding-inline-start: 0px!important;
                }
                li {
                    display: inline-block;
                    font-size: 1.5em;
                    list-style-type: none;
                    padding: 0 1em 1em 1em;
                    text-transform: uppercase;

                    span {
                        font-style: normal;
                        font-weight: 300;
                        font-size: 27px;
                        line-height: 24px;
    
                        letter-spacing: -0.27px;
    
                        color: #535353;
                    }
                }
            }
        }
    
    .info-section {
        margin-top: 30px;
        height: 190px;
        width: 480px;

        mat-grid-list {
            padding: 30px;
            background-color: white;
            border: 2px solid #DADADA;
            box-sizing: border-box;
            border-radius: 4px;
        }

        mat-grid-tile {
            margin-top: 60px;
            
            p {
                height: 70px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 24px;

                letter-spacing: -0.16px;

                span {
                    font-weight: 500;
                    font-size: 16px;

                    color: #685DC5;
                }
            }
        }
        
        img {
            position: absolute;
            width: 560px;
            height: 257px;
            left: 35%;
            top: 65%;
            z-index: 0;
            border: 1px solid #E6E6E6;
        }
    }
}

@media (max-width: 1100px) {
    .left-container {
         margin: 0 10% 0 10%;

        .left-icon {
            left: 65%;
            top: 22%;
        }
    }

    .right-container{
        margin-bottom: 30%;


        .count-down {
            width: 700px;
        }

        .info-section {
            width: 700px;

            mat-grid-tile {

                p {
                    font-size: 20px;

                    span {
                        font-size: 20px;
                    }
                }
            }

            img {
                display: none;
            }
        }
    }
}
