<app-nav-bar></app-nav-bar>

<div>
  <app-intro></app-intro>

  <app-about></app-about>

  <app-slide-card></app-slide-card>

  <app-faq></app-faq>


  <mat-grid-list cols="6" rowHeight="86px" class="footer-container">
    <mat-grid-tile>
      <p><span>Zeptolab</span><br>Marketing Performance</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p><span>Location</span><br>Bangkok</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p><span>Duration</span><br>1 Year Full-Time</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p><span>Start date</span><br>3 Aug 2020</p>
    </mat-grid-tile>
    <mat-grid-tile >
      <p><span>Application deadline</span><br>30 June 2020</p>
    </mat-grid-tile>
    <mat-grid-tile>
      <p><span>Application closes in</span><br>6 Day   :   22 Hrs   :   56 Min</p>
    </mat-grid-tile>
  </mat-grid-list>

</div>