/* You can add global styles to this file, and also import other style files */
@import url(//db.onlinewebfonts.com/c/0406c39d71726a4efe1134bf8e3feb71?family=Apercu+Pro);

@font-face {font-family: "Apercu Pro"; src: url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.eot"); src: url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.woff") format("woff"), url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/0406c39d71726a4efe1134bf8e3feb71.svg#Apercu Pro") format("svg"); }

html, body { height: 100%; overflow-x: hidden; }
body { margin: 0; font-family: Apercu Pro; background-color: white;}

.owl-carousel .owl-item{
    width: 950px !important;
    margin: 10px;
    justify-content: center!important;
}

.slide-cards-component {

    .owl-next, .owl-prev {
        background-color: white!important;
        color: #4F469C!important;
        width: 48px!important;
        height: 48px!important;
        border-radius: 50%!important;
        position: absolute;
        top: 50%;
        border: 1px solid #ECECEC;
        box-sizing: border-box;

        p {
            font-size: 24px;
            position: absolute;
            top: 22%;
            left: 36%;
        }
    }

    .owl-next {
        right: 10px;
    }

    .owl-prev {
        left: 10px;
    }
}